[run]
branch = True
omit =
    manage.py
    */migrations/*
    */tests.py
    */__init__.py
    */settings.py
    */wsgi.py
    */asgi.py
    */admin.py
    */apps.py
    users/models.py #Herdado do Django