{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto mt-12 px-4">
    <div class="text-center">
        <h2 class="text-4xl font-semibold text-gray-800 mb-6">Bem-vindo ao AllUni!</h2>
        <p class="text-xl text-gray-600 mb-6">A plataforma ideal para estudantes organizarem suas matérias, anotações e muito mais. Comece explorando!</p>
        <a href="{% url 'login' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-6 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">Ir para o Dashboard</a>
    </div>
</div>
{% endblock %}
